{% extends 'base_app.html' %}{% load static crispy_forms_tags %}
{% block title %}{{object.title}}{% endblock title %}
{% block content %}
<div class="card">
    <div class="card-header text-center">
        <h1>{{object.title}}</h1>
    </div>
    <div class="card-body">
        <a href="{% url 'exams:exam_setting_update_view' object.pk %}" class="card ribbon-box border shadow-none overflow-hidden">
            <div class="card-body text-muted">
                <div class="ribbon ribbon-info ribbon-shape trending-ribbon">
                    <span class="trending-ribbon-text">Settings</span> <i class=" ri-settings-3-fill text-white align-bottom float-end ms-1"></i>
                </div>
                <h5 class="fs-18 text-end mb-3">Adjust Settings</h5>
                <p class="mb-0">Change test name, description and what happens after the test is graded.</p>
            </div>
        </a>
        <a href="/" class="card ribbon-box border shadow-none overflow-hidden">
            <div class="card-body text-muted">
                <div class="ribbon ribbon-info ribbon-shape trending-ribbon">
                    <span class="trending-ribbon-text">Question</span><i class=" ri-question-line text-white align-bottom float-end ms-1"></i>
                </div>
                <h5 class="fs-18 text-end mb-3">Add Questions</h5>
                <p class="mb-0">It's not much of an exam if it doesn't have any questions.</p>
            </div>
        </a>
        <a href="/" class="card ribbon-box border shadow-none overflow-hidden">
            <div class="card-body text-muted">
                <div class="ribbon ribbon-info ribbon-shape trending-ribbon">
                    <span class="trending-ribbon-text">Publish</span> <i class=" ri-user-shared-fill text-white align-bottom float-end ms-1"></i>
                </div>
                <h5 class="fs-18 text-end mb-3">Publish & Distribute</h5>
                <p class="mb-0">Publish and distribute the exam amoung your students and collect results.</p>
            </div>
        </a>
        <a href="/" class="card ribbon-box border shadow-none overflow-hidden">
            <div class="card-body text-muted">
                <div class="ribbon ribbon-info ribbon-shape trending-ribbon">
                    <span class="trending-ribbon-text">Results</span> <i class=" ri-profile-fill text-white align-bottom float-end ms-1"></i>
                </div>
                <h5 class="fs-18 text-end mb-3">View Results</h5>
                <p class="mb-0">See how well your students did in the exam.</p>
            </div>
        </a>
    </div>
</div>
{% endblock content %}