<div class="col-12 m-2">
  <div class="form-group">
    <div id="div_id_question_explanation" class="form-check">
      <input
        type="checkbox"
        name="question_explanation"
        class="checkboxinput form-check-input"
        id="id_question_explanation"
      />

      <label for="id_question_explanation" class="form-check-label">
        Question explanation
      </label>
    </div>
  </div>
</div>
<div class="col-12 m-2">
  <div id="div_id_question_explanation_text" class="form-group">
    <label for="id_question_explanation_text" class="requiredField">
      Question explanation text<span class="asteriskField">*</span>
    </label>
    <div>
      <textarea
        name="question_explanation_text"
        cols="40"
        rows="10"
        class="textarea form-control"
        required=""
        id="id_question_explanation_text"
      ></textarea>
    </div>
  </div>
</div>

