{% extends 'base_app.html' %} {% block title %} {{object.title}} {% endblock title %} {% block body %}
<div class="container">
  <div class="row m-4">
    <div class="col-12 text-center alert alert-success">
      <h2>{{object.title}}</h2>
    </div>
    <div class="col-12 text-center alert alert-info">
      <h4>{{email}}</h4>
    </div>
  </div>
  <div class="row m-4">
    {% if object.exam_daata.all %}
    <form
      method="post"
      id="examForm"
      action="{% url 'exams:exam_form_handler' %}"
    >
    {% csrf_token %} 
        <input
        type="hidden"
        name="email"
        value="{{email}}"
        />
        <input
        type="hidden"
        name="exam_id"
        value="{{object.id}}"
        />
        {% for question in object.exam_daata.all %}
        <input
        type="hidden"
        name="question_id_{{forloop.counter}}"
        value="{{question.id}}"
        />
      <div class="card">
        <h3>
          <div class="card-header">
            <div class="row">
              <div class="col-1">{{forloop.counter}} -</div>
              <div class="col-10">{{question.question_title}}</div>
              <div class="col-1">{{question.question_marks}}</div>
            </div>
          </div>
        </h3>
        {% if question.question_type == "Multiple Choices (choose one)" %}
        <div class="card-body">
          {% for answer in question.answer_set.all %}
          <input
            type="hidden"
            name="answer_for_{{question.id}}_{{forloop.counter}}"
            value="{{answer.answer}}"
          />

          {% endfor %} 
          {% for option in question.option_set.all %}
          <div class="row">
            <div class="col-12 m-2">
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    type="radio"
                    required
                    class="form-check-input"
                    name="option_for_{{question.id}}"
                    id="option"
                    value="{{forloop.counter}}"
                  />
                  {{option.option}}
                </label>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% elif question.question_type == "Multiple Choices (choose many)" %}
        <div class="card-body">
          {% for answer in question.answer_set.all %}
          <input
          type="hidden"
          name="answer_for_{{question.id}}_{{forloop.counter}}"
          value="{{answer.answer}}"
          />
          
          {% endfor %} 
          {% for option in question.option_set.all %}
          <div class="row">
            <div class="col-12 m-2">
              <div class="form-check">
                <label class="form-check-label">
                  <input
                  type="checkbox"
                  class="form-check-input"
                    name="option_for_{{question.id}}_{{forloop.counter}}"
                    id="option"
                    value="{{forloop.counter}}"
                    />
                    {{option.option}}
                  </label>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% elif question.question_type == "True/False" %}
        {% for answer in question.answer_set.all %}
        <input
          type="hidden"
          name="answer_for_{{question.id}}_{{forloop.counter}}"
          value="{{answer.answer}}"
          />
          {% endfor %}
          <div class="row m-3">
            <div class="form-check mb-4">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="option_for_{{question.id}}" value="1" checked>
                True
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="option_for_{{question.id}}" value="0">
                  False
                </label>
              </div>
            </div>
        {% elif question.question_type == "Fill in the blank" or question.question_type == "Short Question" %}
        {% for answer in question.answer_set.all %}
        <input
          type="hidden"
          name="answer_for_{{question.id}}_{{forloop.counter}}"
          value="{{answer.answer}}"
          />
          {% endfor %}
        <div class="col-11 m-3">
          <input type="text" class="form-control" name="option_for_{{question.id}}">
        </div>
        {% elif question.question_type == "Essay" %}
        {% for answer in question.answer_set.all %}
        <input
          type="hidden"
          name="answer_for_{{question.id}}_{{forloop.counter}}"
          value="{{answer.answer}}"
          />
          {% endfor %}
        <div class="col-11 m-3">
          <textarea class="form-control" name="option_for_${current_question}" id="essay_${current_question}" rows="3"></textarea>
        </div>
        {% endif %} 
      </div>
      {% endfor %}
    </form>
    <button
    type="submit"
      form="examForm"
      class="btn col-11 btn-success btn-lg btn-block"
    >
      submit
    </button>
    {% endif %}
  </div>
</div>
<script>
    var showAlert = () => { alert('This action is prevented by owner of the website') };
      document.addEventListener('contextmenu', event => {
        event.preventDefault()
        showAlert()
        return false;
      });
      document.onkeydown = function (e) {
        
        if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
          showAlert()
          return false;
        }
        if (e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
          showAlert()
          return false;
        }
        if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
          showAlert()
          return false;
        }
        if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
          showAlert()
          return false;
        }
      }
</script>
{% endblock body %}
